FRONTEND_PATH=../imobiliaria-front
FRONTEND_PORT=8081

IMOBILIARIA_MYSQL_ROOT_PASSWORD=root123456
IMOBILIARIA_MYSQL_DATABASE=imobiliaria_db
IMOBILIARIA_MYSQL_USER=imobiliaria_user
IMOBILIARIA_MYSQL_PASSWORD=imobiliaria123

JWT_SECRET=chave-local-prod-com-mais-de-32-caracteres
APP_CORS_ALLOWED_ORIGINS=http://localhost:8081,http://127.0.0.1:8081

APP_ADMIN_NOME=Eliane
APP_ADMIN_EMAIL=admin@imobiliaria.com
APP_ADMIN_SENHA=admin123456
