FRONTEND_PATH=../imobiliaria-front
SITE_DOMAIN=seudominio.com.br
APP_CORS_ALLOWED_ORIGINS=https://seudominio.com.br
IMOBILIARIA_MYSQL_ROOT_PASSWORD=SUBSTITUA
IMOBILIARIA_MYSQL_DATABASE=imobiliaria_db
IMOBILIARIA_MYSQL_USER=imobiliaria_user
IMOBILIARIA_MYSQL_PASSWORD=SUBSTITUA
JWT_SECRET=SUBSTITUA_POR_UM_SEGREDO_ALEATORIO_DE_PELO_MENOS_32_BYTES
APP_ADMIN_NOME=Eliane
APP_ADMIN_EMAIL=SUBSTITUA
APP_ADMIN_SENHA=SUBSTITUA
